body {
    font-family: Arial, Verdana, sans-serif;
    color: black;
    line-height: 1.5em;
    background: #99CC66;
}

.menu, .content {
    box-shadow: 0 0 5px;
    border: 3px solid #336600;
    background: #CCFF99;
    width: 1000px;
    display: center;
    padding: 10px;
    margin: 5px auto;
    
}
.menu {
    font-weight: bold;
}

.menu ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    white-space: nowrap;
    margin: auto;
}

.menu a {
    text-decoration: none;
}

.data {
    margin: 0px;
    padding: 0px;
}

th {
    margin: 0px;
    padding: 0px;
    border-bottom: black 1px solid;
}

tr {
    margin: 0px;
    padding: 0px;
}

td {
    margin: 0px;
    padding: 0px;
    border-bottom: black 1px dotted;
}

#autocomplete {
    width:170px;
    position: absolute; 
    background-color: #FFFFFF; 
    text-align: left;
    border: #edebd5 solid 1px;
    visibility:hidden;
}

.suggest:hover {
    background-color: #0000FF;
    color: #FFFFFF;
}
                                
