body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5em;
    background: #99CC66;
}

.menu, .content {
    box-shadow: 0 0 5px;
    border: 3px solid #336600;
    background: #CCFF99;
    width: 1000px;
    display: center;
    padding: 10px;
    margin: 5px auto;
    
}
.menu {
    font-weight: bold;
}

.menu ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    white-space: nowrap;
    margin: auto;
}

.menu a {
    text-decoration: none;       
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.menu li a:hover {
    background-color: #99CC66;
}

.data {
    margin: 0px;
    padding: 0px;
}

th {
    margin: 0px;
    padding: 0px;
    border-bottom: black 1px solid;
}

tr {
    margin: 0px;
    padding: 0px;
}

td {
    margin: 0px;
    padding: 0px;
    border-bottom: black 1px dotted;
}

#autocomplete {
    width:170px;
    position: absolute; 
    background-color: #FFFFFF; 
    text-align: left;
    border: #edebd5 solid 1px;
    visibility:hidden;
}

.suggest:hover {
    background-color: #0000FF;
    color: #FFFFFF;
}

.form-style{
    width: 100%;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style label{
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style label > span{
    width: 20%;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}


                                